@model List<MultiShop.WebUI.Models.FilterOption>

<div class="filter-section">
    <h4>Beden</h4>
    <ul>
        @foreach (var option in Model)

        {
            <li>
                <input type="checkbox" id="@option.Id" value="@option.Value" data-filter-type="size" />
                <label for="@option.Id">@option.Label</label>
            </li>
        }
    </ul>
</div>
