@model List<BasketItemDto>
@{
    var subtotal = Model.Sum(item => item.Price * item.Quantity);

    var shippingCost = (decimal)ViewBag.ShippingCost;

    var total = subtotal + shippingCost;
}

<div class="bg-light p-30 mb-5">
    <!-- ... diğer kısımlar aynı ... -->
    <div class="border-bottom pt-3 pb-2">
        <div class="d-flex justify-content-between mb-3">
            <h6>Alışveriş Tutarı (KDV dahil)</h6>
            <h6>@subtotal.ToString("N2") ₺</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Kargo Ücreti</h6>
            @if (shippingCost == 0)
            {
                <h6 class="font-weight-medium text-success">Ücretsiz Teslimat</h6>
            }
            else
            {
                <h6 class="font-weight-medium">@shippingCost.ToString("N2") ₺</h6>
            }
        </div>
    </div>
    <div class="pt-2">
        <div class="d-flex justify-content-between mt-2">
            <h5>Genel Toplam</h5>
            <h5>@total.ToString("N2") ₺</h5>
        </div>
    </div>
</div>